:root {
//----------------------------- FONTS FAMILY ------------------------
--ft-title-prime: 'Space Grotesk', sans-serif;
--ft-title-second: 'Playfair Display SC', serif;
--ft-text-design-50: 'Major Mono Display', monospace;
--ft-text-design-hole: 'Ruslan Display', cursive;
--ft-text-title-curve: 'Montserrat Alternates', sans-serif;
--ft-text-text-curve: 'Lora', serif;
--ft-link-hollow: 'Londrina Outline', cursive; 
--ft-btn-read-more: 'Red Hat Text', sans-serif;
--ft-barcode: 'Libre Barcode 39 Extended Text', cursive;
//----------------------------- FONTS SIZE ------------------------
--fs-13: 0.7rem;
--fs-15: 0.875rem;
--fs-17: 0.920rem;
--fs-20: 1rem;
--fs-22: 1.10rem;
--fs-24: 1.25rem;
--fs-26: 1.70rem;
--fs-30: 2rem;
--fs-34: 2.5rem;
--fs-36: 3rem;
--fs-42: 3.5rem;
--fs-50: 4rem;
}